<ion-grid class="products-list--grid">
    <ion-row class="products-list--rows">
      <ion-col size="3"  class="products-list--cols" *ngFor="let product of data">
        <ion-card color="light" class="products-list--card" (click)="productUtils.goToProductDetailsPage(router, product.productId)">
          <!-- <img alt="Silhouette of mountains"  src="https://ionicframework.com/docs/img/demos/card-media.png" 
          [src]="product?.productImage[0]"
          /> -->
          <!-- <img alt="Silhouette of mountains"  src="https://ionicframework.com/docs/img/demos/card-media.png" /> -->
          <!-- <div class="products-list--images-container">
            <img [src]="product?.productImage[0]"/>
          </div> -->

          <image-slider [imageUrls]="product?.productImagesUrlContainer?.imageUrls"></image-slider>
 
          <ion-card-content>
            <div class="">
              <div class="">
                <h3 style="margin: 0; font-weight: 600;">{{product.productName}}</h3>
                <p>Rs {{product.productPrice}}</p>
              </div>
              <div class="">
                     
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
</ion-grid>