<header-page></header-page>

<ion-content [fullscreen]="true">

  <div id="container">
  
    <ion-grid *ngIf="rolesRestrictor.onlyDealerDistributor || rolesRestrictor.isOnlyAdmin">
      <products-viewer [brandId]="brandId" [data]="productsData?.bucket?.bucketListProducts" (dataChange)="productsData = $event" active-products-data></products-viewer>
      <!-- <cart-home></cart-home> -->
      <!-- <ion-card>
        <ion-card-title>Address</ion-card-title>
        <ion-card-content>
          <address-home (formChange)="addressForm = $event" #address></address-home>
          <ion-checkbox [(ngModel)]="isAddressSameAsShippingAddress" (ngModelChange)="changeForm($event)" [value]="isAddressSameAsShippingAddress" >Address same as Shipping Address</ion-checkbox>
          <address-home [addressForm]="form" #shippingAddress></address-home>
        </ion-card-content>
      </ion-card>

      <price-details></price-details> -->
      
    </ion-grid>

    <!-- <ion-grid *ngIf="rolesRestrictor.onlyDealerDistributor || rolesRestrictor.isOnlyAdmin"> -->

      
      <!-- <brand-products  [brandId]="brandId"  [data]="productsData?.bucket?.bucketListProducts" (dataChange)="productsData = $event" active-products-data></brand-products> -->
      <!-- <products-viewer [brandId]="brandId" [data]="productsData?.bucket?.bucketListProducts" (dataChange)="productsData = $event" active-products-data></products-viewer> -->
      <!-- <cart-home></cart-home> -->
      <!-- <ion-card>
        <ion-card-title>Address</ion-card-title>
        <ion-card-content>
          <address-home (formChange)="addressForm = $event" #address></address-home>
          <ion-checkbox [(ngModel)]="isAddressSameAsShippingAddress" (ngModelChange)="changeForm($event)" [value]="isAddressSameAsShippingAddress" >Address same as Shipping Address</ion-checkbox>
          <address-home [addressForm]="form" #shippingAddress></address-home>
        </ion-card-content>
      </ion-card>

      <price-details></price-details> -->
      
    <!-- </ion-grid> -->
  
  </div>
</ion-content>
