<!-- <div class="container">
    <h1>Barcode Generator</h1>
    <div class="input-container">
        <input type="text" id="barcodeInput" placeholder="Enter barcode value">
        <button (click)="generateBarcode()">Generate Barcode</button>
    </div>
    <svg id="barcode"></svg>
</div> -->

<div class="container">
    <h1>Barcode Generator</h1>
    <div class="input-container">
      <input type="text" id="barcodeInput" placeholder="Enter barcode value">
      <button (click)="generateBarcode()">Generate  Barcode</button>
    </div>
    <svg id="barcode"></svg>
  </div>
  


