.cart-home {
  // new css
  color: var(--ion-text-color) !important;
  
  &--card-content {
    padding: 32px;
    padding-top: 16px;
  }

  &--card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--title {
      flex: 1;
      font-size: 25px;
      text-align: left;
    }

    &--actions {
      flex: 1;
      text-align: right;
    }
  }



  &--cart-product-container {
     color: var(--ion-text-color) !important;
    
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;

    &--wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      &--slider-image {
        flex: 1;
      }
      &--details {
        flex: 1;
      }
      &--delivery-details {
        flex: 1;
      }
    }

    &--quantity {
      display: inline-block;
      width: 100%;

      &--wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        width: 25%;

        &--icons {
          font-size: 30px;
        }

        &--input {
          border: 1px solid;
          margin: 3%;
          pointer-events: none !important;
        }
      }
    }
  }

  // old css
  &--container {
  }

  &--rows {
    display: flex;
    align-items: center;
    justify-content: center;

    &--product {
      text-align: left;
    }

    &--quantity {
      display: flex;
      align-items: center;
      justify-content: center;

      font-weight: bold;

      &--quantity-input {
        width: 68px;
      }

      &--icons {
        font-size: 20px;
      }
    }

    &--trash {
      text-align: right;
    }
  }
}

.sc-ion-input-md-h:not(.legacy-input) {
  min-height: 30px !important;
}

