<ion-accordion-group>
  <ion-accordion value="price">
    <ion-item slot="header">
      <ion-label>Price</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">Price</div>
  </ion-accordion>
  
  <ion-accordion value="first">
    <ion-item slot="header">
      <ion-label>Brands</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">Brands</div>
  </ion-accordion>
  <ion-accordion value="second">
    <ion-item slot="header">
      <ion-label>Customer Ratings</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">Customer Ratings</div>
  </ion-accordion>
  <ion-accordion value="third">
    <ion-item slot="header">
      <ion-label>Discount</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">Discount</div>
  </ion-accordion>
   <ion-accordion value="offers">
    <ion-item slot="header">
      <ion-label>Offers</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">offers</div>
  </ion-accordion>
 
</ion-accordion-group>
