<h2 mat-dialog-title>Edit User</h2>
<mat-dialog-content class="mat-typography">
  {{data | json}}

  <ion-grid>
    <form [formGroup]="editUserForm">
      <ion-row class="products-create--images-row-container">
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked">First Name</ion-label>
            <ion-input type="text" placeholder="First Name"  name="firstName" formControlName="firstName"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked">Last Name</ion-label>
            <ion-input type="text" placeholder="Last Name"  name="lastName" formControlName="lastName"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item>
            <dropdown-with-search [selectedId]="brandId" selectedIdKey="brandId" [selectedValue]="brandName" (selectedObjectChange)="onSelectedBrandChange($event)"  label="Brands" placeholder="Select Brands" [(data)]="brandData" name="brandId" formControlName="brandId" key="brandName" brands-data></dropdown-with-search>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <dropdown-with-search [selectedValue]="roleName" label="Roles" placeholder="Select Roles" 
            (selectedObjectChange)="onSelectedRoleChange($event)" [(data)]="roleData" 
            name="roleId" formControlName="roleId" key="roleName" roles-data></dropdown-with-search>
          </ion-item>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked">Mobile Number</ion-label>
            <ion-input type="text" placeholder="Enter Mobile Number"  name="mobileNo" formControlName="mobileNo"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input type="text" placeholder="Enter Email"  name="email" formControlName="email"></ion-input>
          </ion-item>
        </ion-col>
                        
      </ion-row>
    </form>
  </ion-grid>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>
