.product-create{
  &--trash-container {
    text-align: right;
  }
  
  &--images-row-container {
    display: flex;
    align-items: center;
  }

  &--invalid {
    border: 1px solid lightcoral;
  }
}