<header-page></header-page>

<ion-content [fullscreen]="true">

  <div id="container">
    
    <ion-grid *ngIf="rolesRestrictor.isAdmin">
      <ion-row>
        <ion-col size="3" *ngIf="rolesRestrictor.isSuperAdmin">
          <ion-card (click)="routeUtils.goToProducts(router)" >
            <img src="../../assets/consumer-products.webp">
            <ion-card-content>
              <ion-card-title>Products</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="3" *ngIf="rolesRestrictor.isSuperAdmin">
          <ion-card (click)="routeUtils.goToProductBucketsHomePage(router)" >
            <img src="../../assets/consumer-products.webp">
            <ion-card-content>
              <ion-card-title>Products Buckets</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="3" *ngIf="rolesRestrictor.isSuperAdmin">
          <ion-card (click)="routeUtils.goToClientsPage(router)">
            <img src="../../assets/clients-images.avif">
            <ion-card-content>
              <ion-card-title>Clients</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="3" *ngIf="rolesRestrictor.isAdmin">
          <ion-card (click)="routeUtils.goToUsersHomePage(router)">
            <img src="../../assets/clients-images.avif">
            <ion-card-content>
              <ion-card-title>Users</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="3" *ngIf="rolesRestrictor.isOnlyAdmin">
          <ion-card (click)="routeUtils.goToActiveProductsPage(router)">
            <img src="../../assets/clients-images.avif">
            <ion-card-content>
              <ion-card-title>Products</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="3" *ngIf="rolesRestrictor.isSuperAdmin">
          <ion-card (click)="routeUtils.goToProducts(router)" >
            <img src="../../assets/consumer-products.webp">
            <ion-card-content>
              <ion-card-title>Client Products</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="3" *ngIf="rolesRestrictor.isOnlyAdmin">
          <ion-card (click)="routeUtils.goToProducts(router)" >
            <img src="../../assets/consumer-products.webp">
            <ion-card-content>
              <ion-card-title>Products</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="3" *ngIf="rolesRestrictor.isSuperAdmin">
          <ion-card (click)="routeUtils.goToProductsUploadedImages(router)">
            <img style="height: 192px;" src="../../assets/drag-drop.png">
            <ion-card-content>
              <ion-card-title>Uploaded Images</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- <ion-grid *ngIf="rolesRestrictor.onlyDealerDistributor">
      <products-viewer [data]="productsData"></products-viewer>
      <cart-home></cart-home>
      <ion-card>
        <ion-card-title>Address</ion-card-title>
        <ion-card-content>
          <address-home (formChange)="addressForm = $event" #address></address-home>
          <ion-checkbox [(ngModel)]="isAddressSameAsShippingAddress" (ngModelChange)="changeForm($event)" [value]="isAddressSameAsShippingAddress" >Address same as Shipping Address</ion-checkbox>
          <address-home [addressForm]="form" #shippingAddress></address-home>
        </ion-card-content>
      </ion-card>

      <price-details></price-details>
      
    </ion-grid> -->
  
  </div>
</ion-content>
