<header-page></header-page>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid *ngIf="rolesRestrictor.onlyDealerDistributor">
      <ion-row>
        <ion-col size="8">
          <cart-home></cart-home>
          <address-card></address-card>
          <!-- <ion-card>
            <ion-card-header>
              <ion-card-title>Address</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <address-home
                (formChange)="addressForm = $event"
                #address
              ></address-home>
              <ion-checkbox
                [(ngModel)]="isAddressSameAsShippingAddress"
                (ngModelChange)="changeForm($event)"
                [value]="isAddressSameAsShippingAddress"
                >Address same as Shipping Address</ion-checkbox
              >
              <address-home
                [addressForm]="form"
                #shippingAddress
                *ngIf="isAddressSameAsShippingAddress"
              ></address-home>
            </ion-card-content>
          </ion-card> -->

          <redeem-coupon></redeem-coupon>
        </ion-col>

        <ion-col size="4">
          <price-details></price-details>
          <ion-button style="width: 96%;margin-inline: 10px;">
            <ion-icon slot="start" name="star"></ion-icon>
            Buy
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
