<ion-content>
  <header-page></header-page>
  
  <ion-grid class="products-image-uploader--grid">
    <ion-row class="products-image-uploader--rows">
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <div class="products-image-uploader--header-container">
              <div class="products-image-uploader--header-title">
                <ion-card-title>Upload Product Images</ion-card-title>
              </div>
              <div class="products-image-uploader--header-actions">
                <ion-button fill="outline" size="small" (click)="productUtils.goToCreateRoute(router)">Create Products</ion-button>
                <ion-button fill="outline" size="small" (click)="productUtils.goToProductsHomePage(router)">Products</ion-button>
                <ion-button fill="outline" size="small" (click)="addProductImageDetail()">Add Images</ion-button>
                <ion-button fill="outline" size="small" (click)="uploadData()">Save</ion-button>
              </div>
            </div>
          </ion-card-header>
          <ion-card-content>
            <div class="products-image-uploader--container" *ngFor="let imageDetail of imageDetails?.productImageDetails; let i = index">
              <div class="products-image-uploader--main">
                <file-drag-drop class="products-image-uploader--main--el" [showUploadButton]="false" [className]="'small'" (fileBlobs)="imageDetail.productImageFiles = $event" (urls)="imageDetail.imageUrls = $event"></file-drag-drop>
                <image-slider class="products-image-uploader--main--el" [imageUrls]="imageDetail.imageUrls" *ngIf="imageDetail?.isImageUrlsPresent"></image-slider>
              </div>
              <div class="products-image-uploader--details">
                <!-- <ion-list>
                  <ion-item> -->
                    <div class="products-image-uploader--main--product-name">
                      <ion-input
                        label="Product Images Name"
                        labelPlacement="stacked"
                        placeholder="Enter Product Image Name"
                        [value]="imageDetail.productImageName"
                        [(ngModel)]="imageDetail.productImageName"
                      ></ion-input>
                    </div>

                    <div class="products-image-uploader--main--product-trash" *ngIf="productImageDetailsLength">
                      <ion-icon name="trash-outline" (click)="onRemoveProduct(imageDetail)"></ion-icon>
                    </div>
                   
                  <!-- </ion-item>
                  
                </ion-list> -->
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>