<ion-content>
  <header-page></header-page>
  
  <ion-grid class="brands--grid">
    <ion-row class="brands--rows">

      <ion-col size="12">
        <ion-card>  
        <ion-card-header>
          <ion-card-title>Brand Details</ion-card-title>
        </ion-card-header> 
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-input
                label="Brand Name"
                labelPlacement="stacked"
                [clearInput]="true"
                placeholder="Enter Brand Name"
                [value]="brand?.brandName"
              >
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-input
                label="Wallet Balance"
                labelPlacement="stacked"
                [clearInput]="true"
                placeholder="Enter Wallet Balance"
                [value]="brand?.brandBalance"
              >
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-input
                label="Wallet Limit"
                labelPlacement="stacked"
                [clearInput]="true"
                placeholder="Enter Wallet Limit Balance"
                [value]="brand?.walletLimit"
              >
              </ion-input>
            </ion-item>
          </ion-list>
        </ion-card-content>
        </ion-card>
      </ion-col>

      
      <ion-col size="12">
        <ion-card >  
        <ion-card-header>
          <ion-card-title>Users</ion-card-title>
        </ion-card-header> 
        <ion-card-content>
          <table mat-table [dataSource]="brand?.users" class="mat-elevation-z8">

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

              <!-- Position Column -->
              <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> email </th>
                <td mat-cell *matCellDef="let element"> {{element?.email}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="mobileNo">
                <th mat-header-cell *matHeaderCellDef> mobileNo </th>
                <td mat-cell *matCellDef="let element"> {{element?.mobileNo}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  
  </ion-grid>
</ion-content>