<header-page></header-page>
<ion-content>
 
  <ion-grid [fixed]="true" >
    <ion-row class="login-row">
      <ion-col size-md="6" size-lg="6" size-xs="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Login</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form #loginForm="ngForm">
              <ion-item>
                <ion-label position="floating">Mobile Number</ion-label>
                <ion-input type="number" name="mobileNo" #mobileNo="ngModel" required ngModel></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Otp</ion-label>
                <ion-input type="number" name="otp" #otp="ngModel" ngModel required></ion-input>
              </ion-item>
              <ion-button (click)="login(loginForm)" [disabled]="!loginForm?.form?.valid" class="login-button" expand="full">Login</ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
