<ion-card>
  <ion-card-header>
    <ion-card-title>
    Price Details ({{cartItems.totalProducts}} Products)
  </ion-card-title>

  <ion-card-subtitle>
    Total Quantity - {{cartItems.totalItems}}
  </ion-card-subtitle>
  </ion-card-header>

  

    <ion-list inset={true}>
      <ng-container *ngFor="let cartItem of cartItems.cartItems">

          <ion-item button={true}>
            <ion-icon color="danger" slot="start" icon={listCircle} size="large"></ion-icon>
            <ion-label>{{cartItem.product.product.productName}} * {{cartItem.quantity}}</ion-label>
            <ion-note slot="end">{{cartItem.product.points}} * {{cartItem.quantity}} = {{cartItem.product.points * cartItem.quantity}}</ion-note>
          </ion-item>
      </ng-container>
      <ion-item button={true}>
            <ion-icon color="danger" slot="start" icon={listCircle} size="large"></ion-icon>
            <ion-label>Total</ion-label>
            <ion-note slot="end">{{cartItems.totalPrice}}</ion-note>
          </ion-item>
          <!-- <ion-item button={true}>
            <ion-icon color="tertiary" slot="start" icon={listCircle} size="large"></ion-icon>
            <ion-label>Shopping</ion-label>
            <ion-note slot="end">15</ion-note>
          </ion-item>
          <ion-item button={true}>
            <ion-icon color="success" slot="start" icon={listCircle} size="large"></ion-icon>
            <ion-label>Cleaning</ion-label>
            <ion-note slot="end">3</ion-note>
          </ion-item>
          <ion-item button={true}>
            <ion-icon color="warning" slot="start" icon={listCircle} size="large"></ion-icon>
            <ion-label>Reminders</ion-label>
            <ion-note slot="end">8</ion-note>
          </ion-item> -->
    </ion-list>
</ion-card>