

.header-page {
  &--container {
    
    &--toolbar {

    }

    &--toolbar-title {

    }

    &--toolbar-logo {
      height: 40px;
      cursor: pointer;
    }

    &--toolbar-logo-with-powered {
      height: 27px;
      cursor: pointer;
      position: relative;
      top: 0px;
      
    }

    &--toolbar-powered-by {
      font-size: 8px;
      position: absolute;
      bottom: 0px;
      /* right: -21px; */
      left: 2%;
      color: var(--ion-text-color) !important;
    }

  }
}