

.header-page {
  &--container {
    position: relative
    
    &--toolbar {

    }

    &--toolbar-title {

    }

    &--toolbar-logo {
      height: 40px;
      cursor: pointer;
    }

    &--toolbar-logo-with-powered {
      height: 27px;
      cursor: pointer;
      position: relative;
      top: 0px;
      
    }

    &--user-points {
      padding: 7px;
      position: absolute;
      right: 54px;
    }

    &--user-avatar-image {
      position: absolute;
      right: 10px;
      height: 35px;
      width: 35px;
      top: 0px;
    }

    &--toolbar-powered-by {
      font-size: 8px;
      position: absolute;
      bottom: 0px;
      /* right: -21px; */
      left: 2%;
      color: var(--ion-text-color) !important;
    }

  }
}

.header-popup {
  background-color: var(--ion-color-step-300);
  color: var(--ion-text-color);

  &--text {
    padding: 5px 10px;
    text-transform: capitalize;
  }

  button {
    cursor: pointer;
  }
  
}

