<ion-header [translucent]="true" class="header-page--container">
  <ion-toolbar class="header-page--container--toolbar">
    <ion-title (click)="navigateToHome()" class="header-page--container--toolbar-title">
      <img class="{{showPoweredBy ? 'header-page--container--toolbar-logo-with-powered' : 'header-page--container--toolbar-logo'}}" src="{{logo}}" alt="Reedemify" />
    </ion-title>
    <span *ngIf="showPoweredBy" class="header-page--container--toolbar-powered-by"><strong>Powered</strong> By Reedemify</span>
  </ion-toolbar>
</ion-header>