.brands-home {
  &--grid {
    height: calc(100% - 56px);
    padding: 0px;
  }

  &--rows {
    height: calc(100% - 56px);
  }

  &--cols {
    height: calc(100% / 2);
    display: flex;
  }

  &--paginator {
    width: 100%;
  }

  &--search-container {
    display: flex;
    justify-content: center;
    align-items: center;

    &--search {
      flex: 1
    }

    &--search-actions {
      flex: 1;
      text-align: right;
    }

    &--card {
      display: none;
      img {
        height: 163px;
        border-bottom: 1px solid #dddddd;
      }
    }
  }
}