<ion-card>
  <ion-card-header>
    <ion-card-title>Redeem Coupon</ion-card-title>
  </ion-card-header>
  <ion-card-content class="redeem-coupon">
    <ion-grid class="redeem-coupon--grid">
      <ion-row class="redeem-coupon--row">
        <ion-col size="8">
          <ion-item>
            <ion-input label="Coupon Code" labelPlacement="stacked" placeholder="Enter Coupon code"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-button fill="outline">Apply</ion-button>
        </ion-col>
        
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>