<ion-content>
  <header-page></header-page>
  
  <ion-grid class="products--grid">
    <ion-row class="products--rows">
      <mat-toolbar>
        <ion-col size="6" sizeXs="12">
          <ion-searchbar animated="true" placeholder="Animated"></ion-searchbar>
        </ion-col>
      </mat-toolbar>
      <ion-col size="3" sizeSm="3" sizeXs="0">
         <!-- <ion-card color="light" class="products--card" >
          <ion-card-header>
            Filters
          </ion-card-header>

          <ion-card-content> -->
            <products-filter></products-filter>
          <!-- </ion-card-content>
        </ion-card> -->
        
      </ion-col>
      <ion-col size="9" sizeSm="9" sizeXs="12">
        <div class="products--menu-container">
          <!-- <ion-card> -->

            <div class="products--menu-container-label">
              Products
            </div>
            <div class="products--menu-container-actions">
              <ion-button id="open-modal" size="small">Create</ion-button>
            </div>

            <div class="products--menu-container-actions">
              <ion-button size="small" (click)="fileInput.click()">Upload via excel</ion-button>
              <input type="file" #fileInput (change)="onExcelUpload($event.target)" style="visibility: hidden;">
            </div>
          <!-- </ion-card> -->

        </div>
        <!-- <ion-card color="light" class="products--card" >
          <ion-card-header>
            Products
          </ion-card-header>
          <ion-card-content> -->
          <products-list [data]="products"></products-list>
          <!-- </ion-card-content> -->
        <!-- </ion-card> -->
        
      </ion-col>
    </ion-row>
    <mat-paginator class="brands--paginator" [length]="100"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select page">
    </mat-paginator>
  </ion-grid>

   <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Create Products</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">


        
        <form [formGroup]="productForm" (ngSubmit)="createForm()">
          <ion-item>
            <ion-label position="stacked">Enter your name</ion-label>
            <ion-input type="text" placeholder="Your name"  name="productName" formControlName="productName"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Enter Price</ion-label>
            <ion-input type="text" placeholder="Your name"  name="productPrice" formControlName="productPrice"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Enter productCategory</ion-label>
            <!-- <ion-input type="text" placeholder="Your name"  name="productCategoryId" formControlName="productCategoryId"></ion-input> -->
            <mat-select [(value)]="selectedProductCategory" formControlName="productCategoryId">
              <mat-option *ngFor="let food of productCategories" [value]="food">
                {{food.productCategoryName}}
              </mat-option>
            </mat-select>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Enter your productSubCategory</ion-label>
            <mat-select [(value)]="selectedProductSubCategory" formControlName="productSubCategoryId">
              <mat-option *ngFor="let food of selectedProductCategory?.productSubCategories" [value]="food.productSubCategoryId">
                {{food?.productSubCategoryName}}
              </mat-option>
            </mat-select>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Enter your productImages</ion-label>
            <mat-select [(value)]="selectedProductImage" formControlName="productImagesUrlContainerId">
              <mat-option *ngFor="let food of productImages" [value]="food.productImagesUrlContainerId">
                {{food.productImagesName}}
              </mat-option>
            </mat-select>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Enter your productDesc</ion-label>
            <ion-input type="text" placeholder="Your name"  name="productDesc" formControlName="productDesc"></ion-input>
          </ion-item>

          <button type="submit">Save</button>


        </form>
        
        
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>