<ion-content>
  <header-page></header-page>
  
  <ion-grid class="products--grid">
    <ion-row class="products--rows">
      <mat-toolbar>
        <ion-col size="6">
          <ion-searchbar animated="true" placeholder="Animated"></ion-searchbar>
        </ion-col>
      </mat-toolbar>
      <ion-col size="3">
         <!-- <ion-card color="light" class="products--card" >
          <ion-card-header>
            Filters
          </ion-card-header>

          <ion-card-content> -->
            <products-filter></products-filter>
          <!-- </ion-card-content>
        </ion-card> -->
        
      </ion-col>
      <ion-col size="9">
        <!-- <ion-card color="light" class="products--card" >
          <ion-card-header>
            Products
          </ion-card-header>
          <ion-card-content> -->
            <products-list [data]="products"></products-list>
          <!-- </ion-card-content> -->
        <!-- </ion-card> -->
        
      </ion-col>
    </ion-row>
    <mat-paginator class="brands--paginator" [length]="100"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select page">
    </mat-paginator>
  </ion-grid>
</ion-content>