/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import 'theme/custom-theme.css';

.mat-mdc-menu-content, .mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
  padding: 0px !important;
}

.mat-mdc-menu-panel {
  background-color: var(--ion-background-color) !important;
}

.mat-mdc-menu-content {
  max-height: 300px;
  scrollbar-width: 8px !important;
}

// scrollbar for chrome

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background: var(--ion-background-color);
}

::-webkit-scrollbar-thumb {
    background: var(--ion-text-color);
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

// ::-webkit-scrollbar-corner {
//     background: #000;
// }

.dropdown-with-search,.mat-mdc-table {
  background: var(--ion-background-color) !important;
  color: var(--ion-text-color) !important;
}


.mat-mdc-header-cell, .mat-mdc-cell, .alert-button-inner,.mat-mdc-menu-item-text, .alert-message {
  color: var(--ion-text-color) !important;
}

.isDisabled {
  pointer-events: none !important;
  cursor: no-drop !important;
  opacity: 0.5;
}

.link {
  color: var(--ion-text-color) !important;
  text-decoration: underline;
  cursor: pointer;
}

.button-outline {
  color: var(--ion-text-color) !important;
  --border-color: var(--ion-text-color) !important;
}

ion-card-subtitle,ion-note, ion-checkbox {
  color: var(--ion-text-color) !important;
}



ion-accordion-group{
    ion-accordion {
        border-bottom: 1px solid var(--ion-text-color);
        .ion-accordion-toggle-icon {
            color: var(--ion-text-color) !important;
        }
    }
}

.item-content {
   background: var(--ion-color-step-100) !important;
}

mat-toolbar,mat-paginator {
  background-color: var(--ion-color-step-100) !important;
}